body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #F4F4F4; */
    /* background-color: #383A50; */
    background-color: #091C24;

}

input:focus {
    outline:none;
}


a:link{
    color: #21D17A;
  }
  a:visited {
    color: #21D17A;
}

#searchBar{
    border: none;
    width: 100%;
    height: 46px;
    outline: none;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: light;
    font-size: 100%;
    line-height: 1.2em;
    color: #acacac;
    box-sizing: border-box;
    text-indent: 0;
    background-color: #ffffff;
}


.posterImage{
    height: 100%;
    width: 35%;
    border-radius: 5px;
    float: left;
}

.thumbnailImage{
    height: 300px;
    width: 200px;
    border-radius: 5px;
    /* float: left; */
}

.popularThumbnail{
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: auto auto auto auto auto;
    /* max-width: 200px; */
    /* margin: 0 auto; */
    /* grid-column: 4; */
    /* grid-row: 5; */
    display: grid;
    grid-gap: 20px;
    /* float: left; */
    align-content: center;
    padding-left: 6.650390625%;
    padding-right: 6.650390625%;
    padding-top: 10px;
}

.thumbnailSlide{
    padding-bottom: 50px;
    padding-top: 50px;
}

.tmdbLogo{
    height: 61px;
    overflow: auto;
    width: 81px;
}

/* .logoHeading{
    position: absolute;
  top: 50%;
  transform: translateY(-50%);
} */

.realHeading{
    /* color: #DFEBF1; */
    color: 21D17A;
    height: 91px;
    /* font-size: 40px; */
    font-size: 60px;
    align-content: center;
    position: relative;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
    /* vertical-align: middle; */
    line-height: 91px;

}

.SearchTitle{
    /* color: #DFEBF1; */
    color: 21D17A;
    /* font-size: 40px; */
    font-size: 30px;
    float: left;
    position: relative;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
}

/* .undersearch{
    display: grid;
    grid-gap: 20px;
    font-size: 16px;
    padding-left: 0px;
    font-family: 'Roboto', sans-serif;
    width: 64%;
} */

.backImage{
    width: 100%;
    height: 100%;        
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-attachment: fixed;
    position:fixed;
}
.searchResult{
    color: #DFEBF1;
    text-shadow: 1px 1px 2px black;
    align-content: center;
    overflow: auto;
    vertical-align: middle;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    background-color: rgba(0, 0, 0, 0.918);
    border-radius: 5px;

}
.titles{
    font-size: 40px;
    float: left;
    position: relative;
    width: wrap;
    text-transform: uppercase;
    font-weight: bold;
}


.written{
    display: grid;
    grid-gap: 20px;
    font-size: 16px;
    padding-left: 0px;
    font-family: 'Roboto', sans-serif;
    width: 64%;

}

.trailers{
    overflow: auto;
}

.hide{
    height: 0px;
    width: 0px;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(rgba(0,0,0,.85) 15%,rgba(0,0,0,.2) 40%,#000 90%);
    background-attachment: fixed;
    margin: 0;
}
.ratings{
    color: #21D17A;
}








/* below are carousels css */



/* external css: flickity.css */



